<window id="4">
	<defaultcontrol always="true">4101</defaultcontrol>
	<allowoverlay>no</allowoverlay>
    <controls>
		
		<include>CommonBackground</include>
		<include>CommonTopBar</include>
		<include>CommonBottomBar</include>
		<include>HomeButtonCommons</include>
        <include>BottomNowPLaying</include>

      <control type="group" id="4100">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>165</posx>
			<posy>88</posy>
			<include>VisibleFadeEffect</include>
			<control type="button" id="4101">
				<description>Appearance</description>
                <onup>Control.SetFocus(4311)</onup>
                <ondown>Control.SetFocus(4111)</ondown>
                <onleft></onleft>
                <onright>Control.SetFocus(4151)</onright>
                <posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_l.png</texturenofocus>
				<texturefocus>settings_l_p.png</texturefocus>
				<onclick>ActivateWindow(AppearanceSettings)</onclick>
			</control>
			<control type="image">
				<description>Appearance</description>
				<posx>37</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_big_appearence.png</texture>
			</control>
			<control type="label">
				<description>Appearance</description>
				<posx>400</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>Appearance</label>
				<align>right</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>
		
		<control type="group" id="4110">
		    <include>Window_OpenClose_Animation_Zoom</include>
			<posx>165</posx>
			<posy>193</posy>
			<include>VisibleFadeEffect</include>
			<control type="button" id="4111">
				<description>Music</description>
                <onup>Control.SetFocus(4101)</onup>
                <ondown>Control.SetFocus(4121)</ondown>
                <onright>Control.SetFocus(4161)</onright>
                <posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_l.png</texturenofocus>
				<texturefocus>settings_l_p.png</texturefocus>
				<onclick>ActivateWindow(MusicSettings)</onclick>
			</control>
			<control type="image">
				<description>Music</description>
				<posx>37</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_big_music.png</texture>
			</control>
			<control type="label">
				<description>Music</description>
				<posx>400</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>Music</label>
				<align>right</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>
		
		<control type="group" id="4120">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>165</posx>
			<posy>298</posy>
			<include>VisibleFadeEffect</include>
			<control type="button" id="4121">
				<description>Weather</description>
                <onup>Control.SetFocus(4111)</onup>
                <ondown>Control.SetFocus(4131)</ondown>
                <onright>Control.SetFocus(4171)</onright>
                <posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_l.png</texturenofocus>
				<texturefocus>settings_l_p.png</texturefocus>
				<onclick>ActivateWindow(WeatherSettings)</onclick>
			</control>
			<control type="image">
				<description>Weather</description>
				<posx>37</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_big_weather.png</texture>
			</control>
			<control type="label">
				<description>Weather</description>
				<posx>400</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>Weather</label>
				<align>right</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>
		
		<control type="group" id="4130">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>165</posx>
			<posy>403</posy>
			<include>VisibleFadeEffect</include>
			<control type="button" id="4131">
				<description>Services</description>
                <onup>Control.SetFocus(4121)</onup>
                <ondown>Control.SetFocus(4141)</ondown>
                <onright>Control.SetFocus(4181)</onright>
                <posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_l.png</texturenofocus>
				<texturefocus>settings_l_p.png</texturefocus>
				<onclick>ActivateWindow(ServiceSettings)</onclick>
			</control>
			<control type="image">
				<description>Services</description>
				<posx>37</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_big_network.png</texture>
			</control>
			<control type="label">
				<description>Services</description>
				<posx>400</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>Services</label>
				<align>right</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>
		
		<control type="group" id="4140">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>165</posx>
			<posy>508</posy>
			<include>VisibleFadeEffect</include>
			<control type="button" id="4141">
				<description>Skin Settings</description>
                <onup>Control.SetFocus(4131)</onup>
                <ondown>Control.SetFocus(4151)</ondown>
                <onright>Control.SetFocus(4191)</onright>
                <posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_l.png</texturenofocus>
				<texturefocus>settings_l_p.png</texturefocus>
				<onclick>ActivateWindow(1113)</onclick>
			</control>
			<control type="image">
				<description>Skin Settings</description>
				<posx>37</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_skin_w.png</texture>
			</control>
			<control type="label">
				<description>Services</description>
				<posx>400</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>Skin Settings</label>
				<align>right</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>

        <control type="group" id="4150">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>652</posx>
			<posy>88</posy>
			<include>VisibleFadeEffect</include>
			<control type="button" id="4151">
				<description>Video</description>
                <onup>Control.SetFocus(4141)</onup>
                <ondown>Control.SetFocus(4161)</ondown>
                <onleft>Control.SetFocus(4101)</onleft> 
                <posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_r.png</texturenofocus>
				<texturefocus>settings_r_p.png</texturefocus>
				<onclick>ActivateWindow(VideosSettings)</onclick>
			</control>
			<control type="image">
				<description>Video</description>
				<posx>360</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_big_video.png</texture>
			</control>
			<control type="label">
				<description>Video</description>
				<posx>50</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>Video</label>
				<align>left</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>
		
		<control type="group" id="4160">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>652</posx>
			<posy>193</posy>
			<include>VisibleFadeEffect</include>
			<control type="button" id="4161">
				<description>Pictures</description>
                <onup>Control.SetFocus(4151)</onup>
                <ondown>Control.SetFocus(4171)</ondown>
                <onleft>Control.SetFocus(4111)</onleft> 
                <posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_r.png</texturenofocus>
				<texturefocus>settings_r_p.png</texturefocus>
				<onclick>ActivateWindow(PicturesSettings)</onclick>
			</control>
			<control type="image">
				<description>Pictures</description>
				<posx>360</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_big_pictures.png</texture>
			</control>
			<control type="label">
				<description>Pictures</description>
				<posx>50</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>Pictures</label>
				<align>left</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>
		
		<control type="group" id="4170">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>652</posx>
			<posy>298</posy>
			<include>VisibleFadeEffect</include>
			<control type="button" id="4171">
				<description>Add-ons</description>
                <onup>Control.SetFocus(4161)</onup>
                <ondown>Control.SetFocus(4181)</ondown>
                <onleft>Control.SetFocus(4121)</onleft> 
                <posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_r.png</texturenofocus>
				<texturefocus>settings_r_p.png</texturefocus>
				<onclick>ActivateWindow(AddonBrowser)</onclick>
			</control>
			<control type="image">
				<description>Add-ons</description>
				<posx>360</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_big_addons.png</texture>
			</control>
			<control type="label">
				<description>Add-ons</description>
				<posx>50</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>Add-ons</label>
				<align>left</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>
		
		<control type="group" id="4180">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>652</posx>
			<posy>403</posy>
			<include>VisibleFadeEffect</include>
			<control type="button" id="4181">
				<description>System</description>
                <onup>Control.SetFocus(4171)</onup>
                <ondown>Control.SetFocus(4191)</ondown>
                <onleft>Control.SetFocus(4131)</onleft> 
				<posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_r.png</texturenofocus>
				<texturefocus>settings_r_p.png</texturefocus>
				<onclick>ActivateWindow(SystemSettings)</onclick>
			</control>
			<control type="image">
				<description>System</description>
				<posx>360</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_big_system.png</texture>
			</control>
			<control type="label">
				<description>System</description>
				<posx>50</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>System</label>
				<align>left</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>

		<control type="group" id="4190">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>652</posx>
			<posy>508</posy>
			<include>VisibleFadeEffect</include>
			<control type="button" id="4191">
				<description>System Update</description>
                <onup>Control.SetFocus(4181)</onup>
                <ondown>Control.SetFocus(4301)</ondown>
                <onleft>Control.SetFocus(4141)</onleft> 
                <posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_r.png</texturenofocus>
				<texturefocus>settings_r_p.png</texturefocus>
				<onclick>RunScript("plugin.program.carpcupdater")</onclick>
			</control>
			<control type="image">
				<description>System Update</description>
				<posx>360</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_settings_w.png</texture>
			</control>
			<control type="label">
				<description>System Update</description>
				<posx>50</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>System Update</label>
				<align>left</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>


		<control type="label">
			<description>Window label</description>
			<include>MediaWindowTitleCommons</include>
			<label>$LOCALIZE[5]</label>
		</control>
		
		<control type="group" id="4300">
           <include>Window_OpenClose_Animation_Slide_Up</include>
            <posx>95r</posx>
            <posy>85r</posy>
            <control type="button" id="4301">
                <ondown>Control.SetFocus(4311)</ondown>
                <onup>Control.SetFocus(4191)</onup>
                <onleft>Control.SetFocus(4311)</onleft>
				<onright></onright>
                <description>Back Button</description>
                <posx>0</posx>
                <posy>0</posy>
                <width>82</width>
                <height>82</height>
                <texturenofocus  border="4">floor_button_t.png</texturenofocus>
                <texturefocus border="4">floor_buttonfo.png</texturefocus>
                <onclick>back</onclick>
            </control>   
            <control type="image">
                <description>Back Button Image</description>
                <posx>0</posx>
                <posy>0</posy>
                <width>82</width>
                <height>82</height>
                <texture>icon_back_w.png</texture>
                <bordersize>12</bordersize>
            </control>
        </control>
        
        <control type="group" id="4310">
            <include>Window_OpenClose_Animation_Slide_Up</include>
            <posx>190r</posx>
            <posy>85r</posy>
            <control type="button" id="4311">
                <ondown>Control.SetFocus(4101)</ondown>
                <onup>Control.SetFocus(4301)</onup>
                <onleft>Control.SetFocus(4101)</onleft>
				<onright>Control.SetFocus(4301)</onright>
                <description>Info Button</description>
                <posx>0</posx>
                <posy>0</posy>
                <width>82</width>
                <height>82</height>
                <texturenofocus  border="4">floor_button_t.png</texturenofocus>
                <texturefocus border="4">floor_buttonfo.png</texturefocus>
                <onclick>ActivateWindow(SystemInfo)</onclick>
            </control>   
            <control type="image">
                <description>Info Button Image</description>
                <posx>0</posx>
                <posy>0</posy>
                <width>82</width>
                <height>82</height>
                <texture>icon_systeminfo_w.png</texture>
                <bordersize>12</bordersize>
            </control>
        </control>
		
		<include>BehindDialogFadeOut</include>
	</controls>
</window>
