<window id="4">
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
		
		<include>CommonBackground</include>
		<include>CommonTopBar</include>
		<include>CommonBottomBar</include>
		<include>HomeButtonCommons</include>
        <include>BottomNowPLaying</include>
        
      
		<!--<control type="group">
			<include>Window_OpenClose_Animation_Slide_Down</include>
			<posx>500r</posx>
			<posy>0</posy>
			<visible>!Window.IsActive(PlayerControls)</visible>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Update button</description>
				<posx>320r</posx>
				<posy>10</posy>
				<width>300</width>
				<height>60</height>
				<font>-</font>
				<texturenofocus border="5">floor_button.png</texturenofocus>
				<texturefocus border="5">floor_buttonFO.png</texturefocus>
				<onclick>RunScript("plugin.program.carpcupdater")</onclick>
			</control>
			<control type="label">
				<description>System Update</description>
				<posx>320r</posx>
				<posy>7</posy>
				<height>60</height>
				<width>300</width>
				<label>System Update</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFF0</textcolor>	
			</control>
		</control>-->

      <control type="group">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>165</posx>
			<posy>88</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Appearance</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_l.png</texturenofocus>
				<texturefocus>settings_l_p.png</texturefocus>
				<onclick>ActivateWindow(AppearanceSettings)</onclick>
			</control>
			<control type="image">
				<description>Appearance</description>
				<posx>37</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_big_appearence.png</texture>
			</control>
			<control type="label">
				<description>Appearance</description>
				<posx>400</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>Appearance</label>
				<align>right</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>
		
		<control type="group">
		    <include>Window_OpenClose_Animation_Zoom</include>
			<posx>165</posx>
			<posy>193</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Music</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_l.png</texturenofocus>
				<texturefocus>settings_l_p.png</texturefocus>
				<onclick>ActivateWindow(MusicSettings)</onclick>
			</control>
			<control type="image">
				<description>Music</description>
				<posx>37</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_big_music.png</texture>
			</control>
			<control type="label">
				<description>Music</description>
				<posx>400</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>Music</label>
				<align>right</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>
		
		<control type="group">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>165</posx>
			<posy>298</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Weather</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_l.png</texturenofocus>
				<texturefocus>settings_l_p.png</texturefocus>
				<onclick>ActivateWindow(WeatherSettings)</onclick>
			</control>
			<control type="image">
				<description>Weather</description>
				<posx>37</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_big_weather.png</texture>
			</control>
			<control type="label">
				<description>Weather</description>
				<posx>400</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>Weather</label>
				<align>right</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>
		
		<control type="group">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>165</posx>
			<posy>403</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Services</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_l.png</texturenofocus>
				<texturefocus>settings_l_p.png</texturefocus>
				<onclick>ActivateWindow(ServiceSettings)</onclick>
			</control>
			<control type="image">
				<description>Services</description>
				<posx>37</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_big_network.png</texture>
			</control>
			<control type="label">
				<description>Services</description>
				<posx>400</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>Services</label>
				<align>right</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>
		
		<control type="group">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>165</posx>
			<posy>508</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Skin Settings</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_l.png</texturenofocus>
				<texturefocus>settings_l_p.png</texturefocus>
				<onclick>ActivateWindow(1113)</onclick>
			</control>
			<control type="image">
				<description>Skin Settings</description>
				<posx>37</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_skin_w.png</texture>
			</control>
			<control type="label">
				<description>Services</description>
				<posx>400</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>Skin Settings</label>
				<align>right</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>

        <control type="group">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>652</posx>
			<posy>88</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Video</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_r.png</texturenofocus>
				<texturefocus>settings_r_p.png</texturefocus>
				<onclick>ActivateWindow(VideosSettings)</onclick>
			</control>
			<control type="image">
				<description>Video</description>
				<posx>360</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_big_video.png</texture>
			</control>
			<control type="label">
				<description>Video</description>
				<posx>50</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>Video</label>
				<align>left</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>
		
		<control type="group">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>652</posx>
			<posy>193</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Pictures</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_r.png</texturenofocus>
				<texturefocus>settings_r_p.png</texturefocus>
				<onclick>ActivateWindow(PicturesSettings)</onclick>
			</control>
			<control type="image">
				<description>Pictures</description>
				<posx>360</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_big_pictures.png</texture>
			</control>
			<control type="label">
				<description>Pictures</description>
				<posx>50</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>Pictures</label>
				<align>left</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>
		
		<control type="group">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>652</posx>
			<posy>298</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Add-ons</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_r.png</texturenofocus>
				<texturefocus>settings_r_p.png</texturefocus>
				<onclick>ActivateWindow(AddonBrowser)</onclick>
			</control>
			<control type="image">
				<description>Add-ons</description>
				<posx>360</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_big_addons.png</texture>
			</control>
			<control type="label">
				<description>Add-ons</description>
				<posx>50</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>Add-ons</label>
				<align>left</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>
		
		<control type="group">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>652</posx>
			<posy>403</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>System</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_r.png</texturenofocus>
				<texturefocus>settings_r_p.png</texturefocus>
				<onclick>ActivateWindow(SystemSettings)</onclick>
			</control>
			<control type="image">
				<description>System</description>
				<posx>360</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_big_system.png</texture>
			</control>
			<control type="label">
				<description>System</description>
				<posx>50</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>System</label>
				<align>left</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>

		<control type="group">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>652</posx>
			<posy>508</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>System Update</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>459</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus >settings_r.png</texturenofocus>
				<texturefocus>settings_r_p.png</texturefocus>
				<onclick>RunScript("plugin.program.carpcupdater")</onclick>
			</control>
			<control type="image">
				<description>System Update</description>
				<posx>360</posx>
				<posy>20</posy>
				<width>60</width>
				<height>60</height>
				<texture>icon_settings_w.png</texture>
			</control>
			<control type="label">
				<description>System Update</description>
				<posx>50</posx>
				<posy>0</posy>
				<height>100</height>
				<width>300</width>
				<label>System Update</label>
				<align>left</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFFF</textcolor>		
			</control>
		</control>


		<control type="label">
			<description>Window label</description>
			<include>MediaWindowTitleCommons</include>
			<label>$LOCALIZE[5]</label>
		</control>
		<control type="panel" id="9002">
			<visible>!Window.IsActive(PlayerControls)</visible>
			<include>VisibleFadeEffect</include>
			<include>SubMenuCommonLayout</include>
			<content>
				<!--<item>
					<label></label>
					<onclick>ReloadSkin</onclick>
					<icon>icon_refresh_w.png</icon>
				</item>-->
				<!--<item>
					<label>13200</label>
					<onclick>ActivateWindow(Profiles)</onclick>
					<icon>icon_profile_w.png</icon>
				</item>-->
				<!--<item>
					<label>20077</label>
					<onclick>ActivateWindow(1113)</onclick>
					<icon>icon_skin_w.png</icon>
				</item>-->
				<item>
					<label>130</label>
					<onclick>ActivateWindow(SystemInfo)</onclick>
					<icon>icon_systeminfo_w.png</icon>
				</item>
				<!--<item>
					<label>1036</label>
					<onclick>ActivateWindow(Favourites)</onclick>
					<icon>icon_favourites_w.png</icon>
				</item>-->
				<item>
					<label>31200</label>
					<onclick>Back</onclick>
					<icon>icon_back_w.png</icon>
				</item>
			</content>
		</control>
		
		<include>BehindDialogFadeOut</include>
	</controls>
</window>
